
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap");

body {
  font-family: "Sora", sans-serif;
  background-color: #e96196;
  background-image: linear-gradient(315deg, #e96196 0%, #ffffff 74%);


  color: black;
}

.navbar-toggler {
  outline: none !important;
}

.toggler-icon {
  font-size: 2.5rem;

}

.nav-link {

  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.nav-link:hover {
  color: black;
}


.cart-info__icon {
  color: black;
  cursor: pointer;
}

.cart-info {

  color: Black;
  border-radius: 0.25rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}





/* banner */
.max-height {
  min-height: calc(100vh - 76px);
  background: url(../img/hero_2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.75;
}

.banner {
  color: White;
  margin-top: -4rem;
}

.banner-title {
  color: black;
  font-size: 4rem;
}




/* cart */
.cart {
  position: absolute;
  min-height: 10rem;

  top: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.show-cart {
  padding: 2rem 1.5rem;
}

.cart-item {
  transition: all 2s ease-in-out;
}


.cart-item-remove {
  
  transition: all 1s ease-in-out;
}

.cart-item-remove:hover {
  transform: scale(1.1);
  color: Black !important;
}

#cart-item-price {
  font-size: 0.8rem;
}


.btn-black {
  color: Black ;
  border-color: Black ;
}


.btn-pink:hover {
  background: pink !important;
  color: black !important;
}



.about-img__container {
  position: relative;
}

.about {
  background-color: linen;
}

.text-muted {
  font-weight: bolder;
  font-size: medium;
}






.img-container {
  position: relative;
  overflow: hidden;
}

.store-img {
  transition: all 1s ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.2);
}

.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: white;
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}

.store-item-icon:hover {
  color: white;
}

.store-item-value {
  color: red;
}

/*end of  store items */
.show {
  display: block;
}

.btnLeft {
  top: 50%;
  left: 0;
  transform: translateX(-60%);
}

.btnRight {
  top: 50%;
  right: 0;
  transform: translateX(60%);
}

section>.container {
  padding-top: 50px;
}

nav.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.95;
  z-index: 99;
}


#myNav>ul {
  margin-left: 20px !important;
}

/* Store */
.hide {
  display: none !important;
}

.img-container>span {
  cursor: pointer;
}

/* Cart */
#cart-info>p {
  display: none;
}

@media (min-width: 700px) {
  #cart-info>p {
    display: block;
  }
}

#cart {
  position: fixed;
  top: 76px;
  bottom: 0px;
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  ;
  z-index: 99;
  right: -18rem;
  width: 18rem;
  overflow: scroll;
}

.show-cart {
  transform: translateX(-16rem);
}

.pink-cart-btn {
  animation: makeblack 4s;
}

@keyframes makeblack {
  0% {
    background-color: none;
  }

  25% {
    background-color: pink;
  }

  50% {
    background-color: pink;
  }

  100% {
    background-color: none;
  }
}

.cart-item-remove:hover {
  cursor: pointer;
}

.empty-cart {
  display: none !important;
}

.item-text {
  width: 100px;
}

.item-quantity {
  font-size: 1.5em;
}

.item-quantity>span {
  line-height: 50px;
  vertical-align: middle !important;
}

.cart-item-remove>i {
  font-size: 1.2em;
  line-height: 50px;
}














/* confirmation - added to cart */
#confirmation {
  position: fixed;
  background-color: fuchsia;
  z-index: -10;
  opacity: 0;
  bottom: 125px;
  width: 80vw;
  height: auto;
  margin-left: 10vw;
  border-radius: 25px;
  color: white;
}

.show-confirmation {
  animation: fade-in-out 4s;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    z-index: -10;
  }

  25% {
    opacity: 1;
    z-index: 100;
  }

  50% {
    opacity: 1;
    z-index: 100;
  }

  100% {
    opacity: 0;
    z-index: -10;
  }
}

.ml13 {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 600;
  color: black;
}

.ml13 .letter {
  display: inline-block;
  line-height: 1em;
}
.footer {
  background-color: #FF00AA;
}

.number {
  color: white;
}

.copy {
  font-size: 1rem;
  color: white;
  font-weight: 900;

}

.insta {

  font-size: 1.5rem;
}

.w-60 {
  height: 500px;
}


.carousel {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);

}

.shipping {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);
}

