@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100&display=swap');

body {
    font-family: 'Sora',
        sans-serif;
    background-color: #E8ADAA;
    color: black;
}

.navbar-toggler {
    outline: none !important;
}

.toggeler-icon {
    font-size: 2rem;
    color: rgb(19, 18, 18);
}

.nav-link {
    color: black;
    transition: all 1s ease-in-out;
    font-weight: bold;
    font-size: larger;
}

.nav-link:hover {
    color: white;
}
.items {
    display: block;
    margin: 20px 0;
}

.item {
    float: left;
    background-color: white;
    margin: 0 10px 10px 0;
    width: 305px;
    padding: 10px;
}

.item img {
    display: block;
    margin: auto;
}

h2 {
    font-size: 12px;
    display: block;
    border: 1px solid rgb(112, 102, 102);
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}

button {
    border: 1px solid #ef4478;
    padding: 4px 14px;
    background-color: #ef4478;
    color: white;
    text-transform: uppercase;
    flex: right;
    margin: 5px 0;
    font-weight: 400px;
    cursor: pointer;
    font-family: tahoma;
    border-radius: 50px;

}

button:focus {
    outline: none;
}

span {
    float: right;
}

p {
    font-size: 14px;
}


